.button {
  background-color: #6DA9FF;
  border: 1px black solid;
  color: black;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px 10px;
  margin: auto;
  font-weight: lighter;
  text-align: center;
  font-size: smaller;
}

.button:hover {
  background-color: #C8DFFF;
  color: black;
}

.addToCart {
  background-color: #383737;
  margin: 0;
  color: #d7d3cb;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 10px;
}

.addToCart:hover {
  background-color: #444444;
  color: #d7d3cb;
}

.incrementItem {
  background-color: #383737;
  color: #d7d3cb;
  font-size: small;
  padding: 0;
  width: 20px;
  height: 20px;
  margin: 0;
}

.decrementItem {
  background-color: #383737;
  color: #d7d3cb;
  font-size: small;
  padding: 0;
  width: 20px;
  height: 20px;
  margin: 0;
}
.removeItem {
  background-color: #FF5D5D;
  color: #383737;
  font-size: small;
  padding: 0;
  width: 20px;
  height: 20px;
  margin: 0;
}

.number {
  background-color: #d7d3cb;
  color: #383737;
  font-size: small;
  padding: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: not-allowed;
  pointer-events: all !important;
}

.number:hover {
  background-color: #d7d3cb;
  color: #383737;
  cursor: not-allowed;
  pointer-events: all !important;
}

.clearCart {
  background-color: #383737;
  color: #d7d3cb;
  font-size: small;
  padding: 0;
  width: 80px;
  height: 30px;
  margin: 0;
}

.clearCart:hover {
  background-color: #555555;
  color: #d7d3cb;
}

.checkout {
  background-color: #33FF46;
  margin-top: 5%;
  font-weight: 400;
  font-size: 1em;
}

.checkout:hover {
  background-color: #89FF94;
  margin-top: 5%;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.disableCursor {
  cursor: not-allowed;
  background-color: #383737;
}

.disableCursor:hover {
  cursor: not-allowed;
}

.purchase {
  background-color: #33FF46;
  color: #383737;
  font-size: large;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding: 15px;
}

.purchase:hover {
  background-color: #89FF94;
  color: #555555;
}

.continueShopping {
  background-color: transparent;
  border: none;
  color: #d7d3cb;
  font-size: small;
  padding: 0;
  margin: 0;
  margin-top: 1%;
  padding: 10px;
}

.continueShopping:hover {
  background-color: transparent;
  color: white;
  margin-top: 1%;
}

.submitPayment {
  background-color: #33FF46;
  color: #383737;
  font-size: large;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding: 15px;
}

.submitPayment:hover {
  background-color: #89FF94;
  color: #555555;
}