.button {
  background-color: #6DA9FF;
  border: 1px black solid;
  color: black;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px 10px;
  margin: auto;
  font-weight: lighter;
  text-align: center;
  font-size: smaller;
}

.button:hover {
  background-color: #C8DFFF;
  color: black;
}

.addToCart {
  background-color: #383737;
  margin: 0;
  color: #d7d3cb;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 10px;
}

.addToCart:hover {
  background-color: #444444;
  color: #d7d3cb;
}

.incrementItem {
  background-color: #383737;
  color: #d7d3cb;
  font-size: large;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 0;
}

.decrementItem {
  background-color: #383737;
  color: #d7d3cb;
  font-size: large;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 0;
}
.removeItem {
  background-color: #FF5D5D;
  color: #383737;
  font-size: large;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 0;
}

.clearCart {
  background-color: #FF5D5D;
  color: #383737;
  font-size: large;
  padding: 0;
  width: 100px;
  height: 50px;
  margin: 0;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
