.toolbar {
  background-color: rgba(255, 255, 255, .3);
  color: #282c34;
  border: none;
  margin-bottom: 10px;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.toolbarInverted {
  background-color:#1F1F1F;
  color: #282c34;
  border: none;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.typography {
  flex-grow: 1;
  text-align: center;
}

.typography a {
  color: #282c34;
  padding: 15px;
  font-weight: light;
  font-family: 'Titillium Web';
  font-size: large;
}

.typography a:hover {
  color: rgba(0, 0, 0, .4);
  text-decoration: none;
}

.typographyInverted {
  flex-grow: 1;
  text-align: center;
}

.typographyInverted a {
  color: #d7d3cb;
  padding: 15px;
  font-weight: light;
  font-family: 'Titillium Web';
  font-size: large;
}

.typographyInverted a:hover {
  color: white;
  text-decoration: none;
}